#contact_modal {
  display: none;
}
a:focus {
  background-color: #db8876;
  color: #901c1c;
}
div:focus {
  background-color: #db8876;
  color: #901c1c;
  outline: #312e2e;
}
.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0rem 3rem;
}
.photograph-header img {
  position: absolute;
  left: -25%;
  top: -42%;
  position: absolute;
  width: 300px;
  height: 400px;
  text-align: center;
}
.photograph-header div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.photograph-header h2 {
  color: #d3573c;
  font-size: 36px;
}
.photograph-header :nth-child(1) {
  order: 2;
}

.photograph-header :nth-child(2) {
  order: 3;
}
.photograph-header :nth-child(3) {
  order: 1;
}
.photographer_section2 img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
.photographer_section2 div {
  justify-self: center;
  width: 100%;
  height: 85%;
  margin-bottom: -5rem;
}
.photographer_section2 video {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
}

.photographer_section2 i {
  cursor: pointer;
}

.like_container {
  width: 100%;
  height: 2rem !important;
  font-size: 1.3rem;
  color: #901c1c;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.like_number {
  margin-right: 0.5rem;
}

.fa-solid.fa-heart {
  color: #901c1c;
}

.heart_container {
  margin-left: 0.5rem;
  width: fit-content !important;
  min-width: 60px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 10%;
  left: 25%;
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.close_form {
  appearance: none;
  border: none;
  width: 50px;
  height: 50px;
  background-color: #db8876;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  margin-top: 4rem;
  text-align: left;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

.first_label {
  margin-top: 5rem;
}

.message_label {
  width: 100%;
  height: 10rem !important;
  border: none !important;
  resize: none;
  border-radius: 5px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 48px;
}

.formData[data-error]::after {
  content: attr(data-error);
  font-size: 1.4em;
  color: #e54858;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: left;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}
.formData[data-error-visible="true"]::after {
  opacity: 1;
}
.formData[data-error-visible="true"] .text-control {
  border: 2px solid #e54858;
}

.select_container {
  position: relative;
  display: inline-flex;
  color: black;
  gap: 1rem;
  top: 35px;
  left: 6%;
  align-items: center;
}

.select_container select {
  display: block;
  width: 180px;
  min-height: 35px;
  background: #901c1c;
  color: #fff;
  border-radius: 7px;
  outline: none;
  padding: 20px 20px 20px 10px;
  margin-top: 5px;
  cursor: pointer;
  appearance: none;
  font-size: 1.1rem;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  font-family: "DM Sans", sans-serif;
}

.select_container .selector-options {
  list-style: none;
  padding: 15px 0px;
  margin: 0;
  background: #901c1c;
  color: #fff;
  border-radius: 4px;
  z-index: 1;
  width: 69%;
  position: absolute;
  left: 30%;
  top: 8%;
}

.select_container .selector-options .border_white_bottom {
  font-size: 1.1rem;
  font-weight: bold;
  height: 55px;
  display: flex;
  align-items: center !important;
  padding: 0 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.select_container .selector-options li:hover {
  background: #db8876;
}
.select_container .selector-options .border_white_bottom:after {
  content: "";
  position: absolute;
  width: 96%;
  height: 1%;
  left: 2%;
  margin-top: 30%;
  background-color: #fff;
}

.last_option {
  font-size: 1.1rem;
  font-weight: bold;
  height: 55px;
  display: flex;
  align-items: center !important;
  padding: 0 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.lightbox {
  border: none;
  position: fixed;
  margin-left: 20%;
  top: 2rem;
  border-radius: 5px;
  background-color: white !important;
  width: 45%;
  padding: 23% 7% 23% 5%;
  display: none;
  overflow: hidden;
}

.lightbox_img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  visibility: visible;
  object-fit: cover;
}
.lightboxmedia_container {
  position: absolute;
  top: 5%;
  left: 7%;
  border-radius: 5px;
  width: 85%;
  height: 90%;
  visibility: visible;
  overflow: hidden;
}
.lightbox_vid {
  position: absolute;
  top: 5%;
  left: 10%;
  border-radius: 5px;
  width: 695px;
  height: 600px;
  visibility: visible;
}

.lightbox_close {
  z-index: 6;
  position: absolute;
  width: 2.8%;
  top: 7%;
  right: 3%;
  fill: #901c1c !important;
  cursor: pointer;
}

.fa-solid.fa-angle-left {
  position: absolute;
  font-size: 40px;
  top: 50%;
  left: 2%;
  color: #901c1c;
}

.fa-solid.fa-angle-right {
  position: absolute;
  font-size: 40px;
  top: 50%;
  right: 3%;
  color: #901c1c;
  z-index: 6;
}

.fa-solid.fa-angle-down {
  position: absolute;
  font-size: 18px;
  color: #fff;
  top: 41%;
  right: 8%;
}
.fa-solid.fa-angle-up {
  position: absolute;
  font-size: 18px;
  color: #fff;
  top: 18%;
  right: 8%;
}

.price_likes {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  right: -2%;
  background-color: #db8876;
  width: 19rem;
  padding: 1.5rem 3.9rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 3.5%;
}

.price_likes .fa-solid.fa-heart {
  color: black;
}

.sent {
  position: absolute;
  color: #fff;
  font-size: 5rem;
  top: 45%;
  left: 0%;
  visibility: hidden;
  text-align: center;
}

@media screen and (max-width: 1080px) {
  .photographer_section2 div {
    height: 75%;
    margin-bottom: -2rem;
  }
}

@media screen and (max-width: 1180px) {
  .lightbox {
    min-width: 400px;
    min-height: 100px;
  }

  .fa-solid.fa-angle-left {
    position: absolute;
    font-size: 30px;
    top: 50%;
    left: 2%;
    color: #901c1c;
  }

  .fa-solid.fa-angle-right {
    position: absolute;
    font-size: 30px;
    top: 50%;
    right: 3%;
    color: #901c1c;
    z-index: 6;
  }
}
